/CommentChecker.java
/CommentCheckerConstants.java
/CommentCheckerTokenManager.java
/NamingChecker.java
/NamingCheckerConstants.java
/NamingCheckerTokenManager.java
/OtherChecker.java
/OtherCheckerConstants.java
/OtherCheckerTokenManager.java
